.book {
  height: 800px;
  background-image: url(../../images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* @media screen and (min-width: 768px) {
  .book {
    height: 500px;
  }
}

@media screen and (min-width: 1280px) {
  .book {
    height: 800px;
  }
} */
