.usermenu__wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}
.usermenu__text {
  display: none;
  font-size: 25px;
  font-family: 'Dosis', sans-serif;
  font-weight: 100;
  text-decoration: none;
  color: rgb(136, 129, 129);
  transition: all 100ms ease;
}
.usermenu__name {
  display: none;
  padding: 5px 16px 5px 14px;
  font-size: 30px;
  color: black;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 4px, rgba(0, 0, 0, 0.3) 3px 3px 4px,
    rgba(0, 0, 0, 0.2) -5px -4px 0px inset;
}
.usermenu__btn {
  display: none;
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
  border: 1px solid rgb(206, 205, 205);
  border-radius: 3px;

  padding: 5px 14px;
  color: rgb(136, 129, 129);
  background-color: white;
  transition: all 100ms ease;
  cursor: pointer;
}
.usermenu__btn:hover,
.usermenu__btn:focus {
  color: black;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 4px, rgba(0, 0, 0, 0.3) 3px 3px 4px,
    rgba(0, 0, 0, 0.2) -5px -4px 0px inset;
  transform: scale(1.1);
}
.nav__iconLogin {
  width: 25px;
}
.usermenu__btnLogin {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 4px,
    rgba(0, 0, 0, 0.3) 4px 2px 4px -10px, rgba(0, 0, 0, 0.2) -3px -2px 0px inset;
  background-color: white;
}
.usermenu__btnLogin:hover,
.usermenu__btnLogin:focus {
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 4px, rgba(0, 0, 0, 0.3) 3px 3px 4px,
    rgba(0, 0, 0, 0.2) -5px -4px 0px inset;
  transform: scale(1.1);
}
